.todo-list-container{
    width: 100%;
    margin: auto;
    height: 100vh;
    padding: 0.5rem;
}

.bg-container{
   background-color: #E6F4F1;
}

.edit-container {
    height: 5.5rem;
}

.edit-container > .flex-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {
    .todo-list-container {
        padding: 1.5rem 4rem;
    }
}
